.explore-our-offer {
    background-color: #0A1129;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.explore-our-offer h2 {
    color: #C4A55F;
    font-size: 36px;
    font-family: "Playfair Display", serif;
    margin-bottom: 70px;
}

.carousel-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.carousel-item {
    flex: 0 0 auto;
    min-width: 300px;
    margin: 0 10px;
    background-color: #1A1F2E;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    border-color: #C4A55F;
}

.carousel-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
}

.carousel-item strong {
    color: #C4A55F;
    font-size: 18px;
    margin-top: 10px;
    display: block;
}

.carousel-item p {
    color: #fefbec;
    font-size: 14px;
    margin-top: 5px;
}

.carousel-button-prev,
.carousel-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c4a55f;
    color: #0b1120;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2;
}

.carousel-button-prev:hover,
.carousel-button-next:hover {
    background-color: #0b1120;
    color: #c4a55f;
}

.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
}

.carousel-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
    pointer-events: none;
}

.carousel-fade-left {
    left: 0;
    background: linear-gradient(to right, #020d1e, transparent);
}

.carousel-fade-right {
    right: 0;
    background: linear-gradient(to left, #020d1e, transparent);
}
.hidden-clone {
    display: none;
}
@media (max-width: 768px) {
    .carousel-item {
        min-width: 200px;
    }

    .carousel-button-prev,
    .carousel-button-next {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}